.hero-section {
	height: 30vh;
	background-image: url("../img/brucesteam.jpg");
	
display: flex;
justify-content: center;
align-items: center;

}		 
.hero-section h1 {
font-size: 50px;
}


h1{
	background-color: #de740b;
	background-size: 50vh;
}

p1{
	font-size: 30px;
    color: #f2610f;
}

.p1{
	color: #f76b2a;
}

.p2{
	color: #79a0d4;
}

.p3{
	color: #61371f;
}

.p4{
	color: #f2691b;
}

.p5{
	font-size: 30px;
	color: #f2610f;
}

li{
	color: #ed9e15;
	font-size: 30px;
}